bert_rus/
biobert/
env/
extra/
features/
multi_cased_L-12_H-768_A-12/
__pycache__/
rubert/
.git/
.idea/
.ipynb_checkpoints/
abstracts.txt
Closest_pairs
deeplab_report.txt
extract_features.py
extract_features_script
Untitled.ipynb
/resources/OHSUMED/t9.filtering/ohsu-trec/trec9-train/ohsumed.87
